*{
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  background-image: url('./img/1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  font-family:'Quicksand', Helvetica;
}

/* Chrome, Safari, Opera, Firefox */
::placeholder{
  color: #f4f4f4;
  opacity: 1;
}

/* Microsoft Edge */
::-ms-input-placeholder{
  color: #f4f4f4;
}

/* Internet Explorer */
:-ms-input-placeholder{
  color: #f4f4f4;
}

.timerDiv{
  width: 100%;
  margin: auto;
  text-align: center;
  display: inline;
}

.btn-main{
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
  float: left;
  overflow: hidden;
  width: 20%;
  height: 79px;
  border: 1px solid #3e3a5d;
  border-radius: 3px;
  color: #f4f4f4;
  background: transparent;
}

.btn-main:hover{
  background: #3e3a5d;
}


.form input[type=text],.form input[type=number]{
  margin: 0;
  height: 79px;
  float: left;
  width: 18.7%;
  font-size: 25px;
  text-align: center;
  outline: none;
}

.display{
  text-align: center;
  color: #f4f4f4;
}


.Timer{
  background: #3e3a5d;
  border-radius: 3px;
  border: 1px solid #3e3a5d;
  font-size: 25px;
  padding: 10px 10px;
  text-transform: uppercase;
  visibility: hidden;
  font-size: 20px;
  padding: 5px 5px;
}

.Timer:hover{
  background: transparent;
}


.time{
  font-size: 140px;
  font-style: normal;
  margin-left: 40px;
  margin-right: 40px;
}

.activities{
  width: 60%;
  margin-bottom: 30px;
  margin: auto;
  position: relative;
}

.activities input[type=text]{
  float: left;
  height: 40px;
  text-align: center;
  font-size: 23px;
  color: #f4f4f4;
  margin-bottom: 5px;
  border-bottom: 1px solid #3e3a5d;
  outline: none;
  background: transparent;
}

#act1{
  width: 47%;
  border-right: 1px solid #3e3a5d;
  border-top: none;
  border-left: none;
  padding-bottom: -20px;
}

#act2{
  width: 50%;
  border-left: 1px solid #3e3a5d;
  border-top: none;
  border-right: none;
  padding-bottom: 3px;
}

.main-li{
  list-style-type: none;
  width: inherit;
}

.list1{
  width: 47%;
  height: 32px;
  border: 1px #3e3a5d solid;
  text-align: center;
  list-style: none;
  padding-top: 19px;
  margin: 0 auto;
  float: left;
  display: inline;
  margin-right: -2px;
}

.checks{
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  height: 20px;
  width: 20px;
}

 .btn{
  width: 3%;
  vertical-align: middle;
  text-align: center;
  padding: 5px 5px;
  margin: 15px 0px 15px 15px;
}

.delete{
  background-color: red;
  margin-left: 15px;
  border: none;
  opacity: 0.8;
}

.row{
  background: #000;
  color: #f4f4f4;
  border: 0;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  position: absolute;
  margin: 0 auto;
  top: 85%;
  left: 46%;
}

.row:hover{
  background: #3e3a5d;
}

.clearFloat{
  float: none;
  margin-bottom: 50px;
}

.footer{
  text-align: center;
  font-family: 'Quicksand', 'Courier New';
  color: #000;
  font-weight: bold;
  width: 100%;
  padding: 8px;
  position: fixed;
  top: 92%;
  left: 0%;
}

@media (max-width:960px){

  .timerDiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 120px;
    padding: -70px 0px 0px 0px;
  }

  .btn-main{
    float: none;
    height: 40px;
    text-align: center;
    width: 40%;
    font-size: 20px;
  }

  .form input[type=text],.form input[type=number]{
    float: none;
    height: 35px;
    width: 80%;
    font-size: 20px;
  }

  .display{
    padding: 15px 0px;
  }

  .time{
    font-size: 47px;
  }

  .activities{
    margin-top: -27px;
  }

  .activities input[type=text]{
    font-size: 17px;
    font-family: Helvetica;
    margin-bottom: 3px;
  }

  #act1{
    width: 47%;
  }

  #act2{
    width: 50%;
  }

  .list1{
    width: 47%;
    height: 13px;
    border: 1px #3e3a5d solid;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    float: left;
    display: inline;
    margin-right: -2px;
  }

  .checks{
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    height: 13px;
    width: 13px;
    margin-top: -25px;
  }

  .btn{
   width: 4.2%;
   vertical-align: middle;
   text-align: center;
   padding: 4px 5px 4px 3px;
   margin: 9px 0px 5px 13px;
 }

  .delete{
    background-color: red;
    margin-left: 7px;
    border: none;
    opacity: 0.8;
  }

  .row{
    padding: 8px;
    font-size: 14px;
    position: absolute;
    margin: 0 auto;
    top: 87%;
    left: 43%;
  }
}

@media (max-width:700px){

  body{
    background-repeat: repeat;
  }

  .timerDiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-main{
    float: none;
    height: 40px;
    text-align: center;
    width: 40%;
    font-size: 14px;
    padding: 4px 0;
    display: inline;
  }



  .form input[type=text],.form input[type=number]{
    float: none;
    height: 35px;
    width: 80%;
    font-size: 16px;
  }

  .display{
    padding: 10px 0px;
  }

  .Timer{
    font-size: 14px;
    padding: 5px 5px;
    margin-left: 3px;
  }

  .time{
    font-size: 43px;
    font-style: normal;
    margin-top:-40px;
  }

  .activities{
    width: 90%;
  }

  .activities input[type=text]{
    font-family: Helvetica;
    font-size: 14px;
    margin-bottom: 10px;
  }

  #act1{
    width: 46%;
    color: #f4f4f4;
  }

  #act2{
    width: 50%;
    color: #f4f4f4;
  }

  .list1{
    width: 45%;
    height: 1px;
    border: 1px #3e3a5d solid;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    float: left;
    display: inline;
    margin-right: -2px;
  }

  .checks{
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    height: 12px;
    width: 12px;
    margin-top: -35px;
  }

  .btn{
   width: 7%;
   height: 20px;
   vertical-align: middle;
   text-align: center;
   padding: 4px 6px 4px 3px;
   margin: 3px 0px 3px 13px;
 }

  .delete{
    background-color: red;
    margin-left: 5px;
    margin-bottom: -1px;
    border: none;
    opacity: 0.8;
  }

  .row{
    padding: 7px;
    font-size: 13px;
    position: absolute;
    margin: 0 auto;
    top: 88%;
    left: 40%;
  }
}
